doctype html
html
	head
	body
	p test
	each color in colors
		h2(style="color: #{color.hexValue};")= color.colorName

// for each loop in jade
// each PLACEHOLDER in DATA. color is a temporary parameter